body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.container {
    text-align: center;
}

button {
    font-size: 36px;
    margin-top: 80px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    width: 342px;
    height: 72px;
    color: black;
    font-weight: 700;
    border: none;


}

button:hover {
    opacity: 0,9;
}

button:active {
    opacity: 0,8;
}